<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd"
    default-autowire="byName">

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <tx:advice id="serviceAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--
            <tx:method name="save*" 
                propagation="REQUIRED" 
                isolation="READ_COMMITTED" 
                timeout="-1" 
                read-only="false" 
                rollback-for="RuntimeException,NullPointerException" 
                no-rollback-for="Exception"/>
            -->
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="create*" propagation="REQUIRED"/>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="insert*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="merge*" propagation="REQUIRED"/>
            <tx:method name="put*" propagation="REQUIRED"/>
            <tx:method name="remove*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="load*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="fetch*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="count*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="list*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <!-- 匹配表达式: 注解？ 修饰符? 返回值类型 类型声明?方法名(参数列表) 异常列表？ -->

    <!-- 首先让我们来了解下AspectJ类型匹配的通配符：
           *：匹配任何数量字符；
          ..：匹配任何数量字符的重复，如在类型模式中匹配任何数量子包；而在方法参数模式中匹配任何数量参数。
           +：匹配指定类型的子类型；仅能作为后缀放在类型模式后边。
      -->

    <aop:config>
        
        <aop:pointcut expression="execution(public * cn.com.finn.web.pms.service..*.*(..))" id="serviceCut"/>
        
        <aop:advisor advice-ref="serviceAdvice" pointcut-ref="serviceCut"/>
        
    </aop:config>

</beans>